@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
.heading-name {
  text-align: left;
  margin-top: 80px;
  margin-left: 20px;
  margin-bottom: 10px;
  font-family: "Bebas Neue", cursive;
  font-size: 50px;
  text-align: center;
}
hr {
  height: 5px;
  background-color: #000000;
}
