@import url("https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@200&family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200&display=swap");
.selectSortUsers__container {
  text-align: right;
  margin-bottom: 10px;
  select {
    width: 13em;
    height: 1.875em;
  }
}
.manager_user_table {
  margin-right: 0;
  width: 100%;
  border-collapse: collapse;
  height: 50px;
  overflow: auto;
  tr {
    text-align: left;
    border: 1px solid #000;
    &:nth-child(odd) {
      background: #d1cfcf;
    }
    &:hover {
      background-color: #8e8b8b;
    }
    th,
    td {
      border: 1px solid #000;
      padding: 8px;
    }
    th {
      background-color: #eb3926;
      font-weight: 600;
      font-size: 20px;
    }
    td {
      font-size: 18px;
      &.active {
        color: rgb(3, 216, 3);
      }
      &.non_active {
        color: rgb(245, 0, 0);
      }
      &.function-icon-container {
        text-align: center;
        font-size: 24px;
        .functionsIcon {
          margin: 0 5px;
          &:hover {
            cursor: pointer;
          }
        }
        .editIcon {
          color: rgb(46, 63, 173);
        }
        .checkEditIcon {
          color: rgb(54, 167, 54);
        }
        .activeIcon {
          color: #000;
        }
        .deleteIcon {
          color: rgb(239, 6, 6);
        }
      }
      .editting {
        width: 80%;
        height: 1.25em;
        font-size: 90%;
      }
    }
  }
}
// Mobil: width < 740px
@media only screen and (max-width: 46.1875em) {
}
// Tablet: width >= 740px and width < 1024px
@media only screen and (min-width: 46.1875em) and (max-width: 63.9375em) {
}
